<template>
    <v-card class="mx-auto" max-width="500" style="margin-top:140px;">
          <v-card-text>
            <v-col cols="12" class="text-center">
              <h2>Iniciar sesión</h2>
            </v-col>
            <v-col cols="12">
              <v-text-field label="Cedula" v-model="id" required></v-text-field>
              <v-text-field
                type="password"
                label="Password"
                required
                v-model="password"
              ></v-text-field>

              <v-btn rounded color="primary" @click="login" dark>Login</v-btn>
            </v-col>

            <v-col cols="12" class="text-center">
              <h4>
                ¿No tienes cuenta? Registrate
                <router-link to="/Registro_Mensajeros">aquí</router-link>
              </h4>
            </v-col>
          </v-card-text>
        </v-card>

</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
