<template>
  <div class="history">
      <div v-if="this.domainT!=''">
              <a href="url">http://localhost:3000/json/history</a>
            </div>
  </div>
</template>

<script>
    import axios from "axios"

    export default {
      name: "About",

      el: '#domains',
      data:()=>({
        dataHistory:[
        ],
        data:"",
      }),
      mounted(){

        this.getData();
      },
      methods:{
        getData(){
             const path ="http://localhost:3000/json/history";
             alert(path)
             axios
                .get(path)
                .then(res => {

                       alert(this.data=res.data)
                   })
        },
        sayHi(){
            alert("hii");
        }
      }
    };
</script>
