<template>
  <div class="home">
      <input v-model="Domain" placeholder="Domain">
      <button v-on:click="sendDomain" type="button" name="button">GO</button>
      <div v-if="this.domainT!=''">
        <a href="url">http://localhost:3000/json</a>
      </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios"

export default {
  name: "Home",

  data:()=>({
    domainT:"",
  }),
  methods:{
    sendDomain(){
         const path ="http://localhost:3000/search/"+this.Domain;
         alert(path)

         axios
            .get(path)
            .then(res => {
                   alert(this.domainT=res.data)
               })
    }

  },

  components: {

  }
};
</script>
